<%- include("header") -%>

<h1>hey buddy</h1>
<p>what the fuck is wrong with you. god gave everything its your duty to make use of it 
    you have every potential to bring the beast out you just have to start.
    JUST START daily. win an hour win an day to win a life
</p>


<%- include("footer") -%>